<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="SKAPP2"
        android:supportsRtl="true"
        android:theme="@style/Theme.AskCar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.home.AboutUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.details.InspectionReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
  <activity
            android:name=".ui.details.TestDriveBookingListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".ui.details.ProductListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.details.ZoomImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.details.TestDriveBookingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.details.DetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
  <activity
            android:name=".ui.details.BookingListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".ui.details.BookingNowActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>